.inputArea {
  position: relative;
}

.keyboard {
   position: absolute;
   top: 80px;
   border: 1px dashed #990000;
   border-radius: 5px;
   background-color: #ffdddd;
   text-align: center;
   display: none;
}

.revert {
    position: relative;
    top: 100px;
}